// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #F49F0A;
$green: #1EDD88;
$gray: #B5C2B7;
$light-gray: #F4F4F4;
$black: #130501;
$white: white;
$dark-gray: rgba(45,45,45,45);
