// Specific CSS for your home-page
body {
  padding: 0 50px 0 50px;
  background-color: $black;
}

.page-content {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1280px;
  background-color: $dark-gray;
  padding: 50px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.posts-container {
  width: 100%;
  justify-content: center;
  padding: 30px 0 30px 0;
  overflow: hidden;
}

.posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.post-card {
  overflow: hidden;
  // box-shadow: 0 0 15px rgba(91, 91, 91, 0.2);
  background-color: $dark-gray;
}

.post-card > img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.post-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $white;
  text-decoration: none;
}

.post-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $white;
  text-decoration: none;
}

.post-card .post-card-text {
  padding: 16px;
}
