<h2><%= post.title %></h2>
<p><%= post.address %></p>
<%# <div class="btn-ghost"> %>
  <%= link_to "View", post_path(post), class: "btn btn-ghost" %>
<%# </div> %>
<%# <button href="post_path" class="btn-ghost">Show</button> %>
