.devise-form-block {
  padding: 50px;
}

.form-inputs {
  width: 80%;
  margin: auto;
}

.log-in-devise-btns {
  // width: 50%;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 30px;
}

input.btn {
  color: $white;
  border: 1px solid $white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-bottom: 20px;
}
