.form-inputs {
  // height: 50vhvh;
  width: 80%;
  margin: 50px auto;
}

.form-actions {
  width: 80%;
  margin: auto;
}

.form-header {
  width: 80%;
  margin: 50px auto 90px auto;
}

// a#new-comment-back-btn.btn-ghost {
//   margin: 50px 50px 140px 50px;
// }
